In [1]:
# Code 1
# Print the price
sales_price = 24500

print(total_price)

NameError: name 'total_price' is not defined

In [2]:
# corrected code - sales_price instead of total_price
# variable name was wrong in print function
# error message clearly shows print function has a variable that does not exist, hence check the variable names.
sales_price = 24500

print(sales_price)

24500

In [3]:
# Code 2
# Print a text string verbatim
print "My name is James Bond"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("My name is James Bond")? (4261838916.py, line 3)

In [4]:
# corrected code - parentheses missing
# error message gives the cause of error and also suggestions to fix it
print ("My name is James Bond")

My name is James Bond

In [5]:
#Code 3
# Determine if x is greater than 10
x = 11 

if x > 10:
print('X is greater than 10')
else: 
    print('x is not greater than 10')

IndentationError: expected an indented block (3277246337.py, line 6)

In [6]:
# corrected code
# error occurred beacuse print function was not correctly indented.
# error message suggests a non-indented line of code.
x = 11 

if x > 10:
    print('X is greater than 10')
else: 
    print('x is not greater than 10')

X is greater than 10

In [7]:
# Code 4
# Create the variable list_a
list_a = [1,2,3,4,'Ayaan', 'Hirsi']

list_a[11]

IndexError: list index out of range

In [10]:
# Corrected code
# error caused by list function trying to display a positional value which does not exist, element number 11
# there in total 6 elements in the list, the 6th being "Hirsi"
list_a = [1,2,3,4,'Ayaan', 'Hirsi']

list_a[4]

'Ayaan'